h1 {font-size: 24px;}

.btn {
    padding: 15px;
    margin: 10px 0 10px 0;
    background: #fafafa;
    font-size: 18px;
    transition: .5s;
    border-radius: 5px;
    width: 220px;
    display: block;
}

.active, .btn:hover {
    background: #ffd700;
}

.dealBlock {
    width: 100%;
    border: 3px solid #eee;
    padding: 10px;
    float: left;
    margin-bottom: 10px;
    border-radius: 10px;
}